* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  min-height: 50rem;
  min-width: 50rem;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* do margin/padding/height/etc styles on an element within the body to prevent
 * issues when Radix portals mess with the body to prevent scrolling */
#body-content {
  margin: 2.75rem;
  height: calc(100% - 5.5rem);
}

a {
  color: #321fdb;
}

a:hover {
  color: #8f1edb;
}

/* source: https://dev.to/carlosespada/a11y-tips-hide-content-only-from-sighted-users-2gof */
.a11y-only {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  word-wrap: normal;
}
