.element {
  font-size: 1rem;
  font-weight: 500;
}

.element a {
  text-decoration: none;
}

.element::after {
  content: ">";
  margin-inline: 0.75rem;
}

.element:last-of-type::after {
  content: "";
}
