.btn {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0 0.125rem 0.125rem 0 #37425433;
  padding: 0.25rem 0.3125rem;
  cursor: pointer;
}

.btn.solid {
  border-color: #505d73;
  background: #505d73;
  color: #ebedef;
}
