.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.category h3 {
  font-size: 1.125rem;
  width: 100%;
  border-bottom: solid 0.0625rem #0008;
  padding-bottom: 0.5rem;
  margin-bottom: -0.125rem;
}

.list {
  height: 0;
  flex-grow: 1;
  overflow: auto;
  padding-top: 0.625rem;
}

.item {
  margin-block: 0.625rem;
}

.header {
  border-bottom: solid 0.0625rem #000c;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  padding-bottom: 0.75rem;
}

.message {
  padding-bottom: 0.5rem;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus {
  display: flex;
  gap: 0.625rem;
}
