.menu-content {
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 0 0.125rem 0.125rem 0 #37425433;
  z-index: 5; /* above map controls and dialogs */
}

.menu-item {
  padding: 0.25rem 0.3125rem;
}

.menu-content[data-side] {
  margin: 0.125rem;
}

.menu-content[data-side="bottom"] .menu-arrow {
  transform: translateY(-0.125rem);
}

.menu-icon {
  line-height: 1;
  margin-inline-start: 0.5rem;
}

.menu-btn[data-state="open"] .menu-icon-closed,
.menu-btn[data-state="closed"] .menu-icon-open {
  display: none;
}

.menu-item {
  outline: none;
  cursor: pointer;
}

.menu-item[data-highlighted] {
  background: #505d7333;
}

.menu-item[data-state="unchecked"] {
  padding-inline-start: 1.8215rem;
}

.select .menu-item[data-state="unchecked"] {
  padding-inline-start: 0.3125rem;
}

.menu-item .item-check {
  margin-inline-end: 0.5rem;
}

.menu-item .item-check svg {
  width: 1rem;
}

.menu-item[data-disabled] {
  color: #515d7388;
}

.separator hr {
  border: none;
  border-bottom: 0.0125rem solid #0008;
  margin: 0.25rem;
}

.menu-label {
  color: #000b;
  font-size: 0.875rem;
  margin: 0.25rem 0.375rem 0;
}
