.page {
  display: flex;
  flex-direction: column;
  gap: 1.3215rem;
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1.75rem;
  border-bottom: 0.125rem solid #000;
}

.title {
  font-size: '3rem';
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.breadcrumb {
  flex: 0 0 100%;
  display: flex;
  gap: 0.5rem;
}

.menus {
  margin-block: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.menus button {
  font-weight: 500;
}

.main {
  height: 0;
  flex-grow: 1;
  overflow: auto;
}
