.label {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.125rem;
  column-gap: 0.5rem;
}

.label.above {
  flex-flow: column nowrap;
  align-items: start;
}

.input {
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25rem 0.3125rem;
  max-width: 15rem;
}

.label.above .input {
  width: 100%;
}

.input.with-icon {
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 0.25rem 0.3125rem;
}

.input::placeholder {
  color: #000c;
  opacity: 1;
}

.input.with-icon {
  text-indent: 1.25rem;
}
