.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  max-height: 20rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: max-content;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.detail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 1;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.description {
  overflow: auto;
}

.description p:last-child {
  margin-bottom: 0;
}
