.btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.inputs {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  min-width: 15rem;
}

.inputs button {
  font-weight: normal;
}

.error {
  margin-block: 0.5rem;
}
