.container, .mapbox-container {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.sidebar {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.add-control {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
